<ion-header>
  <ion-toolbar>
    <ion-title>
      گزارش‌ها
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="logForm()">
        <ion-input clearInput  placeholder="موضوع" type="text" [(ngModel)]="todo.title" name="title" [ngModelOptions]="{standalone: true}"></ion-input>     
        <ion-textarea rows="2" placeholder="توضیحات"  [(ngModel)]="todo.description" name="description"></ion-textarea>
	<ion-button type="submit" expand="full">ارسال گزارش</ion-button>
    </form>
</ion-content>
